[submodule "supertsumu/themes/hugo-theme-shell"]
	path = supertsumu/themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
[submodule "supertsumu/public"]
	path = supertsumu/public
	url = https://github.com/supertsumu/supertsumu.github.io.git
	branch = main
[submodule "themes/hugo-theme-shell"]
	path = themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
